#sizeSetter {
    margin: 0 auto;
}
#wallEditor table td {
    width:32px;
    height: 32px;
}

#wallEditor {
    background: #bcbcbc;
}

td.empty {
    background: white;
}
td.wall {
    background: black;
}
td.playerSpawn {
    background: green;
}
td.mobSpawn {
    background: red;
}