@()(headerInjector: Html)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fridge</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script src="@routes.Assets.at("javascripts/init.js")"></script>

        <style>
            html,body {
                margin: 0;
                padding: 0;
                height: 100%;
            }
        </style>
        @headerInjector
    </head>
    <body onload="init()">
        @content
    </body>
</html>
