@(name: String, jsoned: Html)
@boiler() {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/editor.css")">
    <script src="@routes.Assets.at("javascripts/editor/init.js")"></script>
    <script src="@routes.Assets.at("javascripts/editor/connections.js")"></script>
    <script>
        var repoData = JSON.parse('@jsoned');
    </script>
} {
    <body onload="init()">
        <div id="editorContainer">
            <div id="sizeSetter">
                Każda mapa MUSI być prostokątem<br/>, poniżej wpisz ilość segmentów szerokośc <br/> i ilość segmentów wysokości
                <form>
                    <label for="mapWidth">Szerokość mapy: </label>
                    <input id="mapWidth" name="mapWidth" type="number" min="20" value="20" /> <br />
                    <label for="mapHeight">Wysokość mapy: </label>
                    <input id="mapHeight" name="mapHeight" type="number" min="20" value="20" max="100" /> <br/>
                    <button class="btn btn-danger" type="button" id="generateTable">Generuj plansze</button>
                </form>
                    <label for="mapName">Nazwa mapy: </label><input id="mapName" name="mapName" value="@name" />
                    <button class="btn btn-default" id="wallPlacer"> Wall </button>
                    <button class="btn btn-default" id="mobSpawnPointPlacer">Mob Spawn</button>
                    <button class="btn btn-default" id="playerSpawnPointPlacer">Player Spawn</button>
                    <button class="btn btn-default" id="sendButton">Send</button>
                <div id="64Warning" style="display: none"> Wysokość i szerokość muszą być wielokrotnościami liczby 64</div>
            </div>
            <div id="wallEditor">

            </div>
        </div>
    </body>

}